<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceder a Internet (necesario para API, carga de datos, etc.) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permiso para obtener ubicación aproximada (WiFi y red móvil) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permiso para obtener ubicación precisa (GPS y redes) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permiso para acceder a la ubicación en segundo plano (necesario en Android 10+ si la app usa ubicación sin estar abierta) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Permiso para escribir en el almacenamiento externo (Android 9 o inferior, obsoleto en Android 10+)
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  -->

    <!-- Permiso para leer archivos del almacenamiento externo (Android 9 o inferior, en Android 10+ se usa Scoped Storage)
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->

    <!-- Permiso para leer imágenes en Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Permiso para leer videos en Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Permiso para leer archivos de audio en Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />





    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExamenCasa2Eva"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Principal"/>
        <activity android:name=".HilosCorrutinas"/>
        <activity android:name=".SQLite"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC6wgSCubuu9I5pnllFGgLhBKKEjAOASPA" />

        <service android:name=".NotificationWorker"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
    </application>



</manifest>